# Editor
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Enwironment
venv/

# temporary dirs
/src/
/out/
/*log/
/tmp/

# 3rd party files
/models/*.blend*
/bin/blender/*
